# Ignore node_modules for all projects
**/node_modules/

# Ignore logs and temporary files
*.log
.DS_Store

# Ignore environment files
.env

# Ignore service account and Firebase config files
**/serviceAccountKey.json
**/firebase-config.json

# Ignore IDE folders
.vscode/
.idea/

# Ignore build outputs
**/build/
**/dist/
